<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andrios.prt"
    android:versionCode="20"
    android:versionName="1.5.8">
    />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        tools:node="replace">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalculatorTabsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BCA_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PRTActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="andrios.android.intent.action.NAVYPRT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BCAActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="andrios.android.intent.action.NAVYBCA" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CardioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrtLogViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BcaLogViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".VideoStreamActivity" />
    </application>

</manifest>