<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.andrios.prt"
      android:versionCode="20"
      android:versionName="1.5.8">
    <uses-sdk android:minSdkVersion="4" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />
      
    <application android:icon="@drawable/icon3" android:label="@string/app_name">
        <service android:name="net.robotmedia.billing.BillingService" />
		<receiver android:name="net.robotmedia.billing.BillingReceiver">
		    <intent-filter>
		        <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
		        <action android:name="com.android.vending.billing.RESPONSE_CODE" />
		        <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
		    </intent-filter>
		</receiver>
        <activity android:name="MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
          
                <intent-filter>
        		<action android:name="andrios.android.intent.action.NAVYMAIN"/> 
        		<category android:name="android.intent.category.LAUNCHER" />
        		            	 <category android:name="android.intent.category.DEFAULT"/> 
        	</intent-filter> 
        </activity>
        
        <activity android:name="CalculatorTabsActivity" android:label="@string/app_name" android:screenOrientation="portrait"> </activity>
        <activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation"/>
        
        <activity android:name="PRTActivity" android:screenOrientation="portrait" >
            <intent-filter>
        		<action android:name="andrios.android.intent.action.NAVYPRT"/> 
        		<category android:name="android.intent.category.DEFAULT"/> 
        		<category android:name="android.intent.category.LAUNCHER"/>
        	</intent-filter> 
        </activity>
        
        <activity android:name="ComingSoonActivity" android:screenOrientation="portrait" />
        <activity android:name="InstructionsActivity" android:screenOrientation="portrait" />
        <activity android:name="BCAActivity" android:screenOrientation="portrait" >
               <intent-filter>
        		<action android:name="andrios.android.intent.action.NAVYBCA"/> 
        		<category android:name="android.intent.category.DEFAULT"/> 
        		<category android:name="android.intent.category.LAUNCHER"/>
        	</intent-filter> 
        </activity>
        <activity android:name="CardioActivity" android:screenOrientation="portrait" />
        <activity android:name="LogActivity" android:screenOrientation="portrait" />
        <activity android:name="AboutActivity" android:screenOrientation="portrait" />
         <activity android:name="PrtLogViewActivity" android:screenOrientation="portrait" />
         <activity android:name="BcaLogViewActivity" android:screenOrientation="portrait" />
        <activity android:name="ProfileActivity" android:screenOrientation="portrait" />
        

		<service android:name="net.robotmedia.billing.BillingService" />
		<receiver android:name="net.robotmedia.billing.BillingReceiver">
		    <intent-filter>
		        <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
		        <action android:name="com.android.vending.billing.RESPONSE_CODE" />
		        <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
		    </intent-filter>
		</receiver>
    </application>
</manifest>